.App{
  background-color: rgb(48, 43, 40);
  min-height: 100vh;
}

h1{
  margin: 0;
  padding-top: 3%;
  color: gold;
}

header{
  display: flex;
  justify-content: center;
}

.Main{
  display: flex;
  justify-content: center;
}