.Map{
    border: solid;
    box-sizing: border-box;
    background-color: #446BA3;
    margin: 5%;
    margin-top: 3%;
    height: fit-content;
}

path:hover{
    filter: brightness(110%);
    transition: 0.2s;
}

.tooltip{
    position: fixed;
    background: white;
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 100;
    font-size: 14px;
}

.tooltip.visible {
    opacity: 1;
}